@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;100&display=swap');

.Twitch {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 200px;
}

.Twitch .twitch-btns {
  position: relative;
  left: 0;
}

.Twitch .twitch-btns a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin-right: 10px;
  font: 400 7px Arial;
  background: #27292f;
  padding: 6px 4px;
  border-radius: 3px;
}

.Twitch .twitch-btns button {
  padding: 6px 4px;
  border-radius: 3px;
  border: 0;
  background: #27292f;
  color: #fff;
  text-transform: uppercase;
  font-size: 7px;
  float: right;
  cursor: pointer;
}

.Twitch .twitch-btns button i {
  float: left;
  font-size: 10px;
  margin-right: 3px;
}

.Twitch .twitch-btns button span {
  float: right;
  margin-top: 2px;
}

.Twitch .twitch-btns .main {
  background: #9147ff !important;
}

.Twitch .twitch-btns a i {
  float: left;
  font-size: 10px;
  margin-right: 3px;
}

.Twitch .twitch-btns a span {
  float: right;
  margin-top: 2px;
}

.Twitch-Container {
  height: 185px;
  width: 330px;
  margin: auto auto;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-top: 0;
  position: relative;
  margin-bottom: 10px;
}

.Twitch .chat {
  height: 330px;
  width: 330px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
}

.Twitch .chat iframe {
  border-radius: 15px;
  z-index: 13;
}

.Twitch-Container i {
  position: absolute;
  color: #27292f;
  top: -70px;
  right: 10px;
  font-size: 90px;
  z-index: 1;
}

.Twitch-Container iframe {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  position: relative;
  z-index: 12;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .Twitch .chat {
    width: 630px;
    margin-bottom: 15px;
    height: 355px;
  }

  .Twitch .twitch-btns a {
    font: 400 10px Arial;
  }

  .Twitch .twitch-btns button {
    font: 400 10px Arial;
  }

  .Twitch-Container {
    height: 355px;
    width: 630px;
  }

  .Twitch-Container i {
    top: -130px;
    right: 10px;
    font-size: 200px;
  }

  .Twitch .twitch-btns button i {
    margin-right: 4px;
  }

  .Twitch .twitch-btns button span {
    margin-top: 0px;
  }

  .Twitch .twitch-btns a i {
    font-size: 10px;
    margin-right: 4px;
  }

  .Twitch .twitch-btns a span {
    float: right;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .Twitch .chat {
    width: 830px;
    height: 430px;
    margin-bottom: 20px;
  }

  .Twitch .twitch-btns a {
    margin-right: 15px;
    font: 400 15px Arial;
  }

  .Twitch .twitch-btns button {
    font: 400 15px Arial;
  }

  .Twitch-Container {
    height: 465px;
    width: 830px;
    margin-bottom: 20px;
  }

  .Twitch {
    margin-bottom: 150px;
  }

  .Twitch .twitch-btns button i {
    margin-right: 5px;
    font-size: 15px;
  }

  .Twitch .twitch-btns button span {
    margin-top: -1px;
  }

  .Twitch .twitch-btns a i {
    font-size: 15px;
    margin-right: 5px;
  }

  .Twitch .twitch-btns a span {
    float: right;
    margin-top: -1px;
  }
}

@media screen and (min-device-width: 1025px) {
  .Twitch {
    margin-bottom: 100px;
  }

  .Twitch .container {
    display: inline-block;
  }

  .Twitch .chat {
    width: 170px;
    height: 208px;
    margin-left: 40px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .Twitch .twitch-btns a {
    font: 400 10px Arial;
  }

  .Twitch .twitch-btns button {
    font: 400 10px Arial;
  }

  .Twitch-Container {
    height: 208px;
    width: 370px;
    position: relative;
    display: inline-block;
  }

  .Twitch-Container iframe {
    position: relative;
    z-index: 10;
  }

  .Twitch-Container i {
    position: absolute;
    color: #27292f;
    top: -70px;
    right: -30px;
    font-size: 120px;
    z-index: 1;
  }

  .Twitch .twitch-btns button i {
    margin-right: 5px;
    font-size: 15px;
  }

  .Twitch .twitch-btns button span {
    margin-top: 2px;
    font-size: 10px;
  }

  .Twitch .twitch-btns a i {
    font-size: 15px;
    margin-right: 5px;
  }

  .Twitch .twitch-btns a span {
    margin-top: 2px;
    font-size: 10px;
  }
}

@media screen and (min-device-width: 1200px) {
  .Twitch {
    margin-bottom: 100px;
  }

  .Twitch-Container {
    height: 250px;
    width: 444px;
    position: relative;
  }

  .Twitch .chat {
    width: 200px;
    height: 250px;
  }

  .Twitch-Container iframe {
    position: relative;
    z-index: 10;
  }

  .Twitch-Container i {
    position: absolute;
    color: #27292f;
    top: -70px;
    right: -30px;
    font-size: 120px;
    z-index: 1;
  }
}

@media screen and (min-device-width: 1500px) {
  .Twitch {
    margin-bottom: 100px;
  }

  .Twitch-Container {
    height: 310px;
    width: 551px;
    position: relative;
  }

  .Twitch .twitch-btns a {
    font: 400 10px Arial;
  }

  .Twitch .twitch-btns button {
    font: 400 10px Arial;
  }

  .Twitch .chat {
    width: 230px;
    height: 310px;
  }

  .Twitch-Container iframe {
    position: relative;
    z-index: 10;
  }

  .Twitch-Container i {
    position: absolute;
    color: #27292f;
    top: -80px;
    right: -30px;
    font-size: 120px;
    z-index: 1;
  }
}

@media screen and (min-device-width: 1800px) {
  .Twitch {
    margin-bottom: 250px;
  }

  .Twitch-Container {
    height: 410px;
    width: 730px;
    position: relative;
    margin-bottom: 20px;
  }

  .Twitch .chat {
    width: 290px;
    height: 410px;
    margin-left: 80px;
  }

  .Twitch .twitch-btns a {
    margin-right: 15px;
    font: 400 10px Arial;
  }

  .Twitch .twitch-btns button {
    font: 400 10px Arial;
  }

  .Twitch-Container iframe {
    position: relative;
    z-index: 10;
  }

  .Twitch-Container i {
    position: absolute;
    color: #27292f;
    top: -140px;
    right: -60px;
    font-size: 220px;
    z-index: 1;
  }

  .Twitch .twitch-btns button i {
    margin-right: 5px;
    font-size: 15px;
  }

  .Twitch .twitch-btns button span {
    margin-top: 3px;
    font-size: 10px;
  }

  .Twitch .twitch-btns a i {
    font-size: 15px;
    margin-right: 5px;
  }

  .Twitch .twitch-btns a span {
    margin-top: 3px;
    font-size: 10px;
  }
}
