@media screen and (min-device-width: 1025px) {
  .desktop {
    height: 70vh;
  }

  .desktop .Twitch {
    display: inline;
    float: left;
  }

  .desktop .YouTube {
    display: inline;
    float: right;
    margin-top: 40px;
  }
}

@media screen and (min-device-width: 1200px) {
  .desktop .YouTube {
    margin-top: 40px;
  }
}

@media screen and (min-device-width: 1500px) {
  .desktop .YouTube {
    margin-top: 60px;
  }
}
