@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;400&display=swap');

.AboutMe {
  margin-bottom: 100px;
}

.AboutMe .video-container {
  width: 330px;
  margin: auto;
  border-radius: 25px;
  position: relative;
}

.AboutMe .video-container video {
  border-radius: 25px;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
}

.AboutMe p {
  text-align: left;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 50px;
}

.AboutMe .Heading {
  position: relative;
  background: url(../../../../Assets/yellow.svg) center;
  background-size: 40px 40px;
  min-width: 42%;
  width: 42%;
  height: 30px;
  margin-bottom: 40px;
}

.AboutMe .Heading h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  position: relative;
  top: 8px;
  left: 20px;
  color: #fff;
}

.AboutMe .Socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.AboutMe .Socials ul li {
  display: inline-block;
  position: relative;
}

.AboutMe .Socials ul li a {
  text-decoration: none;
}

.AboutMe .Socials ul li a i {
  font-size: 50px;
}

.AboutMe .Socials ul li a span {
  color: #fff;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute;
  bottom: 0;
  right: -20px;
}

.AboutMe .Socials ul li:nth-child(1) {
  margin-left: -20px;
}

.AboutMe .Socials ul li:nth-child(1) a i {
  background: -webkit-linear-gradient(#2a0845, #6441a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.AboutMe .Socials ul li:nth-child(2) a i {
  background: -webkit-linear-gradient(#b31217, #e52d27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.AboutMe .Socials ul li:nth-child(3) a i {
  background: -webkit-linear-gradient(#0072ff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.AboutMe .Socials ul li:nth-child(1),
.AboutMe .Socials ul li:nth-child(2) {
  margin-right: 60px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .AboutMe .video-container {
    width: 630px;
  }

  .AboutMe .Heading {
    background-size: 60px 60px;
    min-width: 27%;
    width: 27%;
    height: 43px;
  }

  .AboutMe .Heading h3 {
    font-size: 40px;
    top: 16px;
    left: 35px;
  }

  .AboutMe p {
    font-size: 22px;
  }

  .AboutMe .Socials ul li a i {
    font-size: 100px;
  }

  .AboutMe .Socials ul li a span {
    color: #fff;
    font-size: 25px;
  }

  .AboutMe .Socials ul li:nth-child(1) {
    margin-left: -20px;
  }

  .AboutMe .Socials ul li:nth-child(1),
  .AboutMe .Socials ul li:nth-child(2) {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .AboutMe .video-container {
    width: 830px;
  }

  .AboutMe .Heading {
    background-size: 80px 80px;
    min-width: 31.5%;
    width: 31.5%;
    height: 59px;
  }

  .AboutMe .Heading h3 {
    font-size: 60px;
    top: 16px;
    left: 35px;
  }

  .AboutMe p {
    font-size: 32px;
  }

  .AboutMe .Socials ul li a i {
    font-size: 120px;
  }

  .AboutMe .Socials ul li a span {
    color: #fff;
    font-size: 27px;
  }

  .AboutMe .Socials ul li:nth-child(1) {
    margin-left: -20px;
  }

  .AboutMe .Socials ul li:nth-child(1),
  .AboutMe .Socials ul li:nth-child(2) {
    margin-right: 150px;
  }

  .AboutMe {
    margin-bottom: 150px;
  }
}

@media screen and (min-device-width: 1025px) {
  .left-container {
    width: 60%;
    float: left;
    margin-right: 150px;
  }

  .AboutMe .video-container {
    width: 630px;
  }

  .AboutMe .Heading {
    background-size: 80px 80px;
    min-width: 17%;
    width: 17%;
    height: 59px;
    margin-bottom: 80px;
  }

  .AboutMe .Heading h3 {
    font-size: 60px;
    top: 18px;
    left: 50px;
  }

  .AboutMe p {
    font-size: 22px;
    width: 70%;
    margin-left: 250px;
  }

  .AboutMe .Socials ul {
    float: left;
  }

  .AboutMe .Socials ul li {
    display: block;
    margin-bottom: 50px;
  }

  .AboutMe .Socials ul li a i {
    font-size: 120px;
  }

  .AboutMe .Socials ul li a span {
    color: #fff;
    font-size: 27px;
    right: 0px;
  }

  .AboutMe .Socials ul li:nth-child(1) {
    margin-left: 0px;
  }

  .AboutMe .Socials ul li:nth-child(1),
  .AboutMe .Socials ul li:nth-child(2) {
    margin-right: 0px;
  }

  .AboutMe {
    margin-bottom: 150px;
    height: 100vh;
  }
}
