.Footer {
  bottom: 0;
}

.Footer-Container {
  position: relative;
}

.Footer-Container .left-column {
  width: 33%;
  display: inline-block;
}

.Footer-Container .middle-column {
  width: 15%;
  display: inline-block;
}

.Footer-Container .right-column {
  width: 52%;
  display: inline-block;
}

.Footer-Container .small-branding {
  height: auto;
  width: 100px;
  margin-right: -20px;
  margin-bottom: -12px;
}

.Footer-Container .middle-column hr {
  width: 50px;
  transform: rotate(90deg);
}

.Footer-Container ul {
  list-style: none;
  margin-left: -50px;
}

.Footer-Container ul li {
  display: inline-block;
  margin-right: 15px;
}

.Footer-Container ul li i {
  color: #d79d00;
}
