.Nav {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 10;
  overflow-x: hidden;
}

.Nav button {
  background: none;
  padding: 0;
  border: 0;
  transform: scaleX(-1);
}

.Nav .menu.hidden {
  transform: translateX(200px);
}

.Nav .menu {
  width: 70px;
  height: 50px;
}

.Nav .menu.visible {
  background-color: #27292f;
  border-radius: 5px 0px 0px 5px;
  transform: translateX(0px);
}

.Nav .menu a {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font: 400 12px Arial;
  border-bottom: 1px solid #d79d00;
}

.Nav .menu a:hover {
}

.Nav .animate__fadeIn {
  animation-duration: 1.5s;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .Nav button img {
    height: 36px;
    width: 36px;
  }

  .Nav .menu {
    width: 100px;
    height: 50px;
  }

  .Nav .menu a {
    font: 400 16px Arial;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .Nav button img {
    height: 42px;
    width: 42px;
  }

  .Nav .menu {
    width: 100px;
    height: 50px;
  }

  .Nav .menu a {
    font: 400 16px Arial;
  }
}

@media screen and (min-device-width: 1025px) {
  .Nav button img {
    height: 42px;
    width: 42px;
  }
}
