.Nav-Container .not-showing {
  display: none;
}

.Nav-Container {
  overflow-x: hidden;
  position: relative;
}

.Nav-Container nav {
  height: 30px;
  width: 100%;
  background-color: #27292f;
}

.Nav-Container button {
  background: none;
  padding: 0;
  border: 0;
  transform: rotate(-90deg);
  position: relative;
  left: 150px;
}

.Nav-Container button img {
  height: auto;
  width: 24px;
}
