.Heading {
  position: absolute;
  top: -100px;
  left: 10px;
}

.Heading .left {
  position: absolute;
  top: 0;
  left: 10px;
  width: 80px;
}

.Heading .left i {
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.Heading .left .count {
  display: block;
  color: #fff;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  position: relative;
  top: 40px;
  float: right;
}

.Heading .left .label {
  color: #d79d00;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  font-size: 6px;
  position: relative;
  top: -25px;
  left: 20px;
}

.Heading .left .fa-twitch {
  background: -webkit-linear-gradient(#2a0845, #6441a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Heading .left .fa-youtube {
  background: -webkit-linear-gradient(#b31217, #e52d27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Heading .left .fa-twitter {
  background: -webkit-linear-gradient(#0072ff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Heading hr {
  transform: rotate(90deg);
  position: absolute;
  top: 20px;
  left: 70px;
  width: 65px;
  margin: 10px 0px 10px 0px;
  background: #fff;
}

.Heading .right {
  position: absolute;
  left: 110px;
}

.Heading .right a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.Heading .right h4 {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .Heading {
    position: absolute;
    top: -150px;
    left: 10px;
  }

  .Heading .left i {
    top: 10px;
    font-size: 80px;
  }

  .Heading .left .count {
    top: 65px;
    font-size: 20px;
  }

  .Heading .left {
    top: 0;
    left: 10px;
    width: 100px;
  }

  .Heading hr {
    top: 40px;
    left: 80px;
    width: 90px;
    margin: 10px 0px 10px 0px;
  }

  .Heading .right {
    left: 130px;
  }

  .Heading .right h4 {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .Heading {
    position: absolute;
    top: -150px;
    left: 10px;
  }

  .Heading .left i {
    top: 10px;
    font-size: 100px;
  }

  .Heading .left .count {
    top: 75px;
    font-size: 25px;
  }

  .Heading .left {
    top: 0;
    left: 10px;
    width: 120px;
  }

  .Heading hr {
    top: 52px;
    left: 110px;
    width: 90px;
    margin: 10px 0px 10px 0px;
  }

  .Heading .right {
    left: 160px;
  }

  .Heading .right h4 {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
  }
}

@media screen and (min-device-width: 1200px) {
  .Heading {
    position: absolute;
    top: -150px;
    left: 10px;
  }

  .Heading .left i {
    top: 10px;
    font-size: 100px;
  }

  .Heading .left .count {
    top: 75px;
    font-size: 25px;
  }

  .Heading .left {
    top: 0;
    left: 10px;
    width: 120px;
  }

  .Heading hr:nth-child(1),
  .Heading hr:nth-child(3) {
    top: 50px;
    left: 110px;
    width: 90px;
    margin: 10px 0px 10px 0px;
  }

  .Heading hr:nth-child(2) {
    top: 52px;
    left: 110px;
    width: 90px;
    margin: 10px 0px 10px 0px;
  }

  .Heading .right {
    left: 160px;
  }

  .Heading .right h4 {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
  }
}
